<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <RelativeLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/relativeLayout1"
        android:background="#ff222222">
    <!--<com.wikitude.architect.ArchitectView
            android:id="@+id/architectView"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent" />-->
        <VideoView
            android:id="@+id/VideoView"
            android:layout_width="fill_parent"
            android:layout_alignParentRight="true"
            android:layout_alignParentLeft="true"
            android:layout_alignParentTop="true"
            android:layout_alignParentBottom="true"
            android:layout_height="fill_parent" />
        <ImageView
            android:src="@drawable/back_icon_ra"
            android:layout_width="40dp"
            android:layout_height="40dp"
            android:id="@+id/imageView1"
            android:layout_alignParentRight="true"
            android:layout_marginRight="5dp"
            android:layout_marginTop="5dp" />
        <ImageView
            android:src="@drawable/logo_pagina_iniziale"
            android:layout_width="120dp"
            android:layout_height="wrap_content"
            android:id="@+id/imageView2"
            android:layout_alignParentLeft="true"
            android:layout_alignParentBottom="true"
            android:layout_marginBottom="10dp"
            android:layout_marginLeft="10dp"
            android:adjustViewBounds="true" />
    </RelativeLayout>
</LinearLayout>